force-app/main/default/flows/Anadir_a_un_nuevo_miembro_un_estado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Member_Status</name>
        <label>Member Status</label>
        <locationX>383</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>new_status</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Enviado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_status</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Rechazado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_status</targetReference>
        </connector>
    </assignments>
    <description>Va a a単adir nuevos estados de miembros de campa単a en el objeto estado de miembros de campa単a</description>
    <environments>Default</environments>
    <interviewLabel>A単adir a un nuevo miembro un estado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Anadir a un nuevo miembro un estado</label>
    <loops>
        <name>Loop_on_status</name>
        <label>Loop on status</label>
        <locationX>141</locationX>
        <locationY>486</locationY>
        <collectionReference>new_status</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>campaign_member_status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>campaign_member_status</name>
        <label>campaign member status</label>
        <locationX>355</locationX>
        <locationY>592</locationY>
        <connector>
            <targetReference>Loop_on_status</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <elementReference>Loop_on_status</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>59</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Member_Status</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>new_status</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
