force-app/main/default/flows/CampaniaNew.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>FechaFinCampania</name>
        <dataType>Date</dataType>
    </constants>
    <constants>
        <name>FechaInicio</name>
        <dataType>Date</dataType>
    </constants>
    <description>Creación de nueva campaña con Ads y Leadds</description>
    <dynamicChoiceSets>
        <name>AdsParaCampania</name>
        <collectionReference>AdsTotal</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Ads__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Estado</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FuenteDeCampania</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pickTipo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CampaniaCreacion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CampaniaNew</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CrearCampania</name>
        <label>CrearCampania</label>
        <locationX>777</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Ads__c</field>
            <value>
                <elementReference>Ads_en_Campania</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BudgetedCost</field>
            <value>
                <elementReference>Costo_Presupuestado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Descripcion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>FechaFinCampania</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <elementReference>Activa</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nombre_de_la_Campania</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>FechaInicio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Estado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Tipo</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>buscarAds</name>
        <label>buscarAds</label>
        <locationX>777</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Crear_nueva_campania</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ads__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Cost__c</queriedFields>
        <queriedFields>Media__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Se crea campaña nueva</description>
        <name>Crear_nueva_campania</name>
        <label>Crear nueva campaña</label>
        <locationX>779</locationX>
        <locationY>327</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CrearCampania</targetReference>
        </connector>
        <fields>
            <name>Nombre_de_la_Campania</name>
            <dataType>String</dataType>
            <fieldText>Nombre de la Campaña</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Activa</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Activa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipo</name>
            <choiceReferences>pickTipo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EstadoDeCampFlow</name>
            <choiceReferences>Estado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Fecha_de_Inicio</name>
            <dataType>Date</dataType>
            <fieldText>Fecha de Inicio</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;La fecha no puede ser anterior a hoy&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!FechaInicio}&gt;=(TODAY()-1)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Fecha_de_Finalizacion_Campania</name>
            <dataType>Date</dataType>
            <fieldText>Fecha de Finalización</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;La fecha de finalización no puede ser anterior a la fecha de inicio&lt;/p&gt;</errorMessage>
                <formulaExpression>{!FechaFinCampania}&gt;={!Fecha_de_Inicio}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Ads_en_Campania</name>
            <choiceReferences>AdsParaCampania</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ads en Campaña</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Costo_Presupuestado</name>
            <dataType>Number</dataType>
            <fieldText>Costo Presupuestado</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Fuente_de_Contactos</name>
            <choiceReferences>FuenteDeCampania</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fuente de Contactos</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Descripcion</name>
            <fieldText>Descripción</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>buscarAds</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>adsElegido</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AdsElegidoList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Ads__c</objectType>
    </variables>
    <variables>
        <name>AdsTotal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Ads__c</objectType>
    </variables>
    <variables>
        <name>ProductTotal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
