force-app/main/default/flows/Suma_costo_ads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>sumar_costos</name>
        <label>sumar costos</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>sumatoria_costo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recorro.Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorro</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Suma costo ads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Suma costo ads</label>
    <loops>
        <name>recorro</name>
        <label>recorro</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>asset_grupo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sumar_costos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updating</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>asset_grupo</name>
        <label>asset grupo</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Ads__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ads__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updating</name>
        <label>updating</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ads__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cost__c</field>
            <value>
                <elementReference>sumatoria_costo</elementReference>
            </value>
        </inputAssignments>
        <object>Ads__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>asset_grupo</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sumatoria_costo</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
